<h1 class = "new-category-title">New Category <i class="fa-solid fa-rocket"></i> </h1>
<p>Categories#new</p>

<%= render 'form', category: @category%>
<%= link_to 'Home', categories_path, class: 'home-link-category-new' %>